lab6demo/Service References/PurseServiceReference/PurseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49537/PurseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/financialplanner.Data" />
  <xs:element name="NewPurse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPurseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPurseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/financialplanner.Data" minOccurs="0" name="GetPurseResult" nillable="true" type="q1:Purse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/financialplanner.Data" minOccurs="0" name="purse" nillable="true" type="q2:Purse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePurseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>