lab6demo/Service References/PurseServiceReference/PurseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/financialplanner.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/financialplanner.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Purse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentBalance" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operations" nillable="true" type="tns:ArrayOfOperation" />
      <xs:element minOccurs="0" name="PurseCurrency" type="tns:Currency" />
      <xs:element minOccurs="0" name="Report" type="xs:double" />
      <xs:element minOccurs="0" name="_purseState" nillable="true" type="tns:PurseState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purse" nillable="true" type="tns:Purse" />
  <xs:complexType name="ArrayOfOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" nillable="true" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperation" nillable="true" type="tns:ArrayOfOperation" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Currency" type="tns:Currency" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsExpense" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="PurseState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Purse" nillable="true" type="tns:Purse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurseState" nillable="true" type="tns:PurseState" />
</xs:schema>